out/
.vs/
CMakePresets.json
.Token

# Ignoring Table Generators unnecessary stuff.
Tools/TableGenerator/*
!Tools/TableGenerator/
!Tools/TableGenerator/TableGenerator.cpp
!Tools/TableGenerator/build.bat

# Ignoring Valid AVX inst dumper's unnecessary stuff.
Tools/ValidAVXInst/*
!Tools/ValidAVXInst/
!Tools/ValidAVXInst/ValidAVXInst.cpp
!Tools/ValidAVXInst/build.bat
!Tools/ValidAVXInst/run.bat

# Ignoring VEX encodable instruction map dump tool.
Tools/VEXInstTableGen/*
!Tools/VEXInstTableGen/
!Tools/VEXInstTableGen/VEXTableGen.cpp
!Tools/VEXInstTableGen/x86-opcode-map.cpp

Tools/EVEXInstTableGen/*
!Tools/EVEXInstTableGen/
!Tools/EVEXInstTableGen/EVEXTableGen.cpp
!Tools/EVEXInstTableGen/x86-opcode-map.cpp
